    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css" rel="stylesheet">
    <link href="{{ .Site.BaseURL }}css/custom.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
